# oe3 stuff
dev/
run/*
!run/README
tmp/*
tmp/comp/*
!tmp/comp/README
var/estim/*
!var/estim/README
var/log/*
!var/log/README
var/opus/*
!var/opus/README
var/lib/*
!var/lib/README
!var/lib/anatta.json

# otres
*~
__pycache__/
*.py[cod]
.envrc
env/
