# oe3
var/estim/*
!var/estim/README
var/log/*
!var/log/README
var/opus/*
!var/opus/README
var/state/*
!var/state/README
!var/state/anatta.json
tmp/comp/*
!tmp/comp/README
dev/

# backup files
*~

# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class

# env
.env
.envrc
.venv
venv/
env/
ENV/

# c extensions
*.so

# distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# installer logs
pip-log.txt
pip-delete-this-directory.txt
